body {
	font-family: 'Segoe UI', sans-serif;
	background-color: var(--gray-900);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	padding: 1rem 2rem;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

header a {
	color: white;
	transition: opacity 0.2s ease;
}

header a:hover {
	opacity: 0.9;
}

.container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 1rem;
}

.form-container {
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 16px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
	width: 100%;
	max-width: 650px;
	transition: all 0.3s ease;
}

.form-container h1 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.8rem;
	color: var(--black);
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.row {
	display: flex;
	gap: 1.2rem;
}

.field-group {
	max-width: calc(50% - 0.5rem);
	display: flex;
	flex-direction: column;
	position: relative;
}

label {
	margin-bottom: 6px;
	font-weight: 600;
	font-size: 0.95rem;
	color: #333;
}

input, select {
	padding: 0.7rem 0.9rem;
	border-radius: 10px;
	border: 2px solid var(--gray-300);
	outline: none;
	background-color: #fdfdfd;
	color: var(--gray-700);
	font-size: 1rem;
	transition: border-color 0.3s;
}

#toggleIcon, #toggleIcon1 {
	position: absolute;
	bottom: 10px;
	right: 8px;
	z-index: 10;
	transform: translate(-50%, -50%);
	cursor: pointer;
	color: var(--gray-900);
}

input:focus, select:focus {
	border-color: var(--gray-700);
}

input[type="submit"] {
	background-color: var(--gray-900);
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border: none;
	padding: 0.9rem;
	border-radius: 10px;
	font-size: 1rem;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
	background-color: var(--black);
	transform: scale(1.03);
}

p {
	text-align: center;
	margin-top: 1.2rem;
	font-size: 0.95rem;
	color: #444;
}

a {
	color: var(--gray-700);
	text-decoration: none;
	font-weight: 600;
}
